<div class="example-container">
<form class="" [formGroup]="registerForm">
    <mat-form-field>
      <mat-label>Enter your email</mat-label>
      <input 
            type="email"
            matInput
             placeholder="Eg. pat@example.com"
             formControlName="email"
             required>
      @if (registerForm.controls.email.hasError('email')
      &&
      !registerForm.controls.email.hasError('required')) {
        <mat-error>Enter a valid email address </mat-error>
      } @if (registerForm.controls.email.hasError('required')){
        <mat-error>Email is <strong>required</strong> </mat-error>
      }
    </mat-form-field>

    <mat-form-field>
        <mat-label>First name</mat-label>
        <input    
              matInput formControlName="firstName" required>
        @if (!registerForm.controls.firstName.hasError('required')) {
          <mat-error>Enter a valid firstName </mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Second name</mat-label>
        <input    
              matInput formControlName="secondName" required>
        @if ( !registerForm.controls.secondName.hasError('required')) {
          <mat-error>Enter a valid secondName </mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password </mat-label>
        <input  
              type="password"  
              matInput formControlName="password" required>
        @if ( !registerForm.controls.password.hasError('required')) {
          <mat-error>Enter a valid password </mat-error>

        }        @if ( !registerForm.controls.password.hasError('minlength')) {
          <mat-error>Min Length is 8 characters </mat-error>}
      </mat-form-field>

      <button mat-flat-button color="accent">Register</button>


</form>
</div>
